{% extends "headers.html" %}
{% block content %}

<!-- Main Content -->
<main>
  <div class="container">
    <h2 class="display-2 text-center" style="margin-top: 15px;"> Contact Us</h2>
    <p class="display-7" style="font-size: 18px;">
      If you have any questions or suggestions, please feel free to contact us. We are always looking for ways to
      improve
      our service.
    </p>
    <!--<div style="display: none;" class="alert alert-success" id="success-alert" role="alert">
      Thank you for contacting us! We will get back to you soon.
    </div>
    -->
  
    
    <!-- Email Section -->
    <div class="d-flex align-items-center mt-4">
      <i class="fa-solid fa-envelope fa-lg me-2"></i>
      <a href="mailto:travelitinerarygenerator@gmail.com" style="text-decoration: none; color: #0000FF;font-size: 25px;">
        travelitinerarygenerator@gmail.com
      </a>
    </div>

  </div>
</main>

  
<!-- Footer -->

<footer class="jumbotron text-center text-white fixed-bottom" style="background-color: #030303">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0)">
    <p>&copy {{now.year}} All rights reserved</p>
    <p>
      Made with Passion by 
      <a style="color: #0ed9ddd6; text-decoration: none" href="#">Travel Itinerary Generator</a>
    </p>
  </div>
</footer>

<script type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

  <!-- EmailJS Setup -->
<script type="text/javascript">
  emailjs.init('Public Key') // Replace with your emailjs public key
</script>

<script>

const btn = document.getElementById('button');
const alerter = document.getElementById('success-alert');

document.getElementById('form')
 .addEventListener('submit', function(event) {
   event.preventDefault();

   btn.value = 'Submitting...';

   const serviceID = 'service_id'; // Replace with your service_id
   const templateID = 'template_id'; // Replace with yout template id

   emailjs.sendForm(serviceID, templateID, this)
    .then(() => {
      alerter.style.display = 'block';
      btn.value = 'Submitted';
      
    }, (err) => {
      btn.value = 'Submit';
      alert(JSON.stringify(err));
    });
});


</script>

{% endblock %}
</body>

</html>